/* ##### NAVIGATION BAR ##### */
.nav-bar {
  z-index: 999;
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:hover {
  color: inherit;
}

.nav-bar:hover .link-icon {
  text-align: center;
}

.nav-links {
  list-style-type: none;
  /* border: 1px solid white; */
}

.portfolio-slideshow {
  margin: 5rem 0;
  height: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-list {

}

.contact-list ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0rem;
  list-style-type: none;
}

.contact-list, .contact-list li {
  text-align: center;
  /* display: inline-block; */
  padding: 0 0 .5rem 0;
  word-break: break-all;
}

.links-info {
  display: flex;
  flex-direction: column;
}

.links-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-evenly;
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  border: 1px solid salmon;
}

.links-list-item {
  flex: 1;
}

.footer-grid-item {
  display: grid;
  grid-template-rows: min-content auto;
  padding: 0rem 1rem;
  max-width: 30rem;
  min-width: 10rem;
  flex: 1 1 0;
  border: 1px solid white;
}

/* Large Screens Start */
@media only screen and (min-width: 600px) {
#about-section {
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 60rem;
  padding: 1rem;
  background: var(--bg-color);
  /* border-style: solid; */
  /* border-image: linear-gradient(orange, var(--current-nav-color), orange) 1 100%; */
  border-radius: 1rem;
  }
  
#about-section::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(to right, var(--current-nav-color), orange);
  margin: -.5rem;
  }

.nav-bar {
  position: fixed;
  height: 100%;
  width: var(--initial-nav-size);
  text-align: center;
  transition: width var(--slower-speed) ease;
  display: flex;
  flex-direction: column;
  padding: 0 .625rem;
  /* border: 1px solid orange */
}

.nav-bar:hover {
  width: 13rem;
}

.nav-bar:not(:hover) .nav-links li {
  text-align: center;
}

.nav-links {
  margin: 0;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.nav-links li{
  padding: 0px 0px 1rem 0px;
}

.nav-links li a{
  padding: 0px .5rem 0px .5rem;
  line-height: 1rem;
  text-decoration: none;
  color: inherit;
}

.nav-item:last-child {
  display: flex;
  justify-content: center;
  padding: 15px 0 15px 0;
  margin-top: auto;
}

.nav-link {
  display: flex;
  flex-direction: row;
  height: 2rem;
  align-items: center;
  /* border: 1px solid saddlebrown; */
}

.no-click {
  flex-grow: 1;
  /* border: 1px solid thistle; */
  pointer-events: none;
  height: 100%;
  content: "";
}

.link-icon {
  flex: 3.75rem 0 0;
}

.nav-bar:hover .link-text {
  /* flex-basis: 8rem;  */
  flex-basis: content;
  flex-shrink: 0;
  flex-grow: 0;
  transition: flex-basis var(--slower-speed) ease;
  -webkit-animation: fadeIn var(--slower-speed) linear;
  animation: fadeIn var(--slower-speed) linear ;
  display: flex;
}

.link-text {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1;
  flex-basis: 0rem; 
  flex-shrink: 0 ;
  flex-grow: 0;
  transition: flex-basis var(--slower-speed) ease;
  height: 1.5rem;
  padding: .2rem 0 0 0;
  align-items: center;
  text-align: left;
  -webkit-animation: fadeOut var(--slower-speed) linear;
  animation: fadeOut var(--slower-speed) linear ;
  /* border: 1px solid red; */
}

.main_info {
  margin-left: 5rem;
  padding: 5rem 10rem 0 10rem;
}

.mobile-only {
  display: none;
}

.footer-grid-container {
  display: flex;
  margin-bottom: 1rem;
  padding-bottom: 4rem;
  flex-direction: row;
  min-height: 10rem;
  max-width: 60rem;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#initials {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  /* border: 1px solid salmon; */
}

}
/* Large Screens End */

/* Small Screens Start */
@media only screen and (max-width: 600px) {
.desktop-only {
  display: none;
}

.links-list {
  margin-left: auto;
  margin-right: auto;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0.625rem 1rem 0 1rem;
}

.nav-links li a{
  text-decoration: none;
  color: inherit;
}

.link-text {
  display: none;
}

.main_info {
  margin-bottom: 5rem;
  padding: 1.5rem 3rem;
}

.footer-grid-item {
  padding: 0;
}

.desktop-only {
  display: none
}

.mobile-navbar {
  background: var(--current-nav-color);
  display: block;
  position: fixed;
  bottom: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 999;

  border-width: 1rem;
  border-style: solid;
  border-image: linear-gradient(to bottom, var(--bg-color) 0%, var(--current-nav-color) 1%) 1;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.gradient-glow, .gradient-glow::before {
  background-image: none;
  background-color: var(bg-color);
}
}
/* Small Screens End */

/* https://jsfiddle.net/p0Lygk37/1/
For learning event handlers */

/*
Links to add:
Instagram Singing
Fiverr when we have that set up