#tutoring-main {
    margin-top: 5rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    /* border: 1px solid orange; */
}

#review-slider {
    /* margin-left: auto;
    margin-right: auto; */
    /* border: 1px solid green; */
}

#tutoring-main p {
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}

#review-slider {
}

#subjects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    /* border: 1px solid blue; */
    gap: 1.5rem;
    padding-left: 0rem;
}

#subjects-grid li {
    list-style-type: none;
    /* border: 1px solid salmon; */
}

.card {
    border-radius: 0 10% 0;
    background-color: var(--current-nav-color);
    padding: 2rem;
    /* border: 1px solid yellow; */
    height: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}